p {
  color: #FFFFFF;
}

.warning-banner-main {
  color: #00E51E;
}

.warning-banner-sub {
  color: #00E51E;
}

.warning-banner-main.box-one {
  background-color: red;
}

.warning-banner-sub.box-two {
  background-color: yellow;
}
