/*
  Redoing this whole friggin thing!
*/

body {
  background-color: gray;
}

#warning-message {
  color:lime;
}

.work-in-progress-warning {
  background-color: red;
  margin: 5px;
}

.main-content-container {
  display: flex;
}

.main-content-soon-container {
  flex: 1;
}

.main-content-about-container {
  flex: 1;
}

.main-content-soon.header {
  text-decoration: underline;
  text-align: center;
}

.main-content-about.header {
  text-decoration: underline;
  text-align: center;
}

.blog-section {
  display: flex;
  flex-direction: column;
}

.blog-nav-title-bar {
  text-align: center;
  flex: auto;
}

.blog-article-section {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.blog-article-section-image {
  flex: auto;
}

.blog-article-container {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.blog-article-title-link {
  text-align: center;
  font-size: 24px;
}

.blog-article-section-article {
  text-align: center;
  font-size: 20px;
}