.warning-banner-main {
  background-color: red;
  color: #00E51E;
  padding: 20px;
  border: 5px solid #de1252;
}

.warning-banner-sub {
  color: #00E51E;
}

.site-upcoming-section {
  border: 3px solid #0069FF;
  margin: 5px #FF00A9;
}

.skwishy-upcoming-section {
  border: 3px solid #6900AB;
  margin: 5px #FF00A9;
}
