/*
  Redoing this whole friggin thing!
*/

body {
  background-color: gray;
}

#warning-message {
  color:lime;
}

.work-in-progress-warning {
  background-color: red;
  margin: 5px;
}

.main-content-container {
  display: flex;
}

.main-content-soon-container {
  flex: 1;
}

.main-content-about-container {
  flex: 1;
}

.main-content-soon.header {
  text-decoration: underline;
}

.main-content-about.header {
  text-decoration: underline;
}

.blog-article-placeholder-section {
  display: flex;
}

.blog-article-placeholder-section-image {

}

.blog-article-placeholder-title-link {

}

.blog-article-placeholder-section-article {

}