* {
  background-color: #CCCDDD;
}

p {
  color: #FFFFFF;
}

.warning-banner-main {
  color: #00E51E;
}

.warning-banner-sub {
  color: #00E51E;
}

.box-one {
  background-color: red;
}

.box-two {
  background-color: yellow;
}
